
@{
    ViewBag.Title = "RentManage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    int STT = 0;
}
@section styles
{
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
}
@section scripts
{
    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Content/js/demo/datatables-demo.js"></script>
    <script src="~/Content/vendor/axios/axios.min.js"></script>
    <script src="~/Content/js/notify.js"></script>

}
<a class="btn btn-primary mb-2" href="/Rent/AddRent">
    Thêm thông tin thuê phòng
</a>

<!-- DataTables -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Danh sách các tòa kí túc xá
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sinh viên</th>
                        <th>Phòng</th>
                        <th>Tòa</th>
                        <th>Nhân viên cho thuê</th>
                        <th>Thanh toán chi phí</th>
                        <th>Ngày bắt đầu ở</th>
                        <th>Ngày hết hạn phòng</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>STT</th>
                        <th>Tên sinh viên</th>
                        <th>Phòng</th>
                        <th>Tòa</th>
                        <th>Nhân viên cho thuê</th>
                        <th>Thanh toán chi phí</th>
                        <th>Ngày bắt đầu ở</th>
                        <th>Ngày hết hạn phòng</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var it in ViewBag.lstRent)
                    {
                        { STT++; }
                        <tr>
                            <td>@STT</td>
                            <td>@it.Student</td>
                            <td>@it.Room</td>
                            <td>@it.HomeFleet</td>
                            <td>@it.TheLease</td>
                            <td>@it.Paid</td>
                            <td>@it.StartDate</td>
                            <td>@it.EndDate</td>
                            <td>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="Button Edit">
                                        <a class="btn btn-warning" href="/Rent/EditRent?rentId=@it.ID" ><i class="fa fa-edit"></i></a>
                                    </div>
                                    <div class="btn-group mr-2" role="group" aria-label="Button Delete">
                                        <button class="btn btn-danger" onclick="setDataForDelete(@it.ID)" data-toggle="modal" data-target="#modalDelete"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Delete confirm -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Xác nhận xóa thông tin thuê phòng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <input type="hidden" id="idEntity" />
            </form>
            <div class="modal-body">
                <h6 class="text-danger">
                    Bạn có chắc chắn muốn xóa thông tin bản ghi này không?
                </h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" id="btnDelete" onclick="">Xóa</button>
            </div>
        </div>
    </div>
</div>
<!-- end Delete confirm -->


@section jscode
{
    <script>
        function setDataForDelete(id) {
            $('#idEntity').val(id);
        }
        $('#btnDelete').click(() => {
            var id = $('#idEntity').val();

            axios({
                method: 'get',
                url: '/Rent/deleteRent?rentId=' + id
            }).then(() => {
                window.location.reload();
            }).catch((exception) => {
                console.log(exception);
            });
        });

    </script>
}

