
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles
{
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
}
@section scripts
{
    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Content/js/demo/datatables-demo.js"></script>
    <script src="~/Content/vendor/axios/axios.min.js"></script>
    <script src="~/Content/js/notify.js"></script>

}

<a class="btn btn-primary mb-2" href="/Student/AddStudent">
    Thêm thông tin sinh viên mới
</a>

<!-- DataTables -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Danh sách tất cả sinh viên
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã sinh viên</th>
                        <th>Số CMND/Căn cước</th>
                        <th>Tên sinh viên</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Ngành học</th>
                        <th>Sinh viên năm thứ</th>
                        <th>Trường</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var it in ViewBag.lstStudents)
                    {
                        <tr>
                            <td>@it.StudentId</td>
                            <td>@it.CMND</td>
                            <td>@it.FullName</td>
                            @if(it.Gender == 1)
                            {
                                <td>Nam</td>
                            }
                            else
                            {
                                <td>Nữ</td>
                            }
                            <td>@it.DOB</td>
                            <td>@it.Department</td>
                            <td>@it.StudentYear</td>
                            <td>@it.StudyAt</td>
                            <td>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="Button Detail">
                                        <button class="btn btn-success"><i class="fa fa-info"></i></button>
                                    </div>
                                    <div class="btn-group mr-2" role="group" aria-label="Button Edit">
                                        <a class="btn btn-warning" href="/Student/EditStudent?StudentId=@it.StudentId"><i class="fa fa-edit"></i></a>
                                    </div>
                                    <div class="btn-group mr-2" role="group" aria-label="Button Delete">
                                        <button class="btn btn-danger" onclick="setDataForDelete('@it.StudentId', '@it.Email')" data-toggle="modal" data-target="#modalDelete"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Delete confirm -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Xác nhận xóa thông tin sinh viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <input type="hidden" id="idEntity" />
                <input type="hidden" id="emailEntity" />
            </form>
            <div class="modal-body">
                <h6 class="text-danger">
                    Bạn có chắc chắn muốn xóa thông tin sinh viên này không?
                </h6>
                <p class="text-danger">
                    Việc xóa sinh viên đồng nghĩa sẽ xóa các lịch sử thuê phòng, hợp đồng của sinh viên này
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeBtn" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" id="btnDelete" onclick="deleteStudent()">Xóa</button>
            </div>
        </div>
    </div>
</div>
<!-- end Delete confirm -->

@section jscode
{
    <script>
        function setDataForDelete(id, email) {
            $('#idEntity').val(id);
            $('#emailEntity').val(email);
        }

        function deleteStudent() {
            var studentId = $('#idEntity').val();
            var email = $('#emailEntity').val();

            axios({
                method: 'post',
                url: '/Account/RemoveStudent',
                data: {
                    model: {
                        StudentId: studentId,
                        Email: email
                    }
                }
            })
                .then((response) => {
                    if (response === 'NotFound') {
                        $.notify('Đối tượng yêu cầu không tồn tại', 'warning');
                    }
                    else if (response === 'Success') {
                        $.notify('Đã xóa thành công', 'success');
                        window.location.reload();
                    }
                    $('#closeBtn').click();
                })
                .catch((exception) => {
                    $.notify('Đã có lỗi xảy ra', 'error');
                    console.log(exception);
                });
        }
    </script>
}

